<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Bayfit.Theme"
        tools:targetApi="tiramisu">

        <activity
            android:name=".home.HomeActivity"
            android:exported="true"
            android:taskAffinity="@string/common_open_on_phone">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".history.view.HistoryListActivity"
            android:exported="false"
            android:taskAffinity=""/>

        <activity
            android:name=".history.view.HistoryExerciseReportActivity"
            android:exported="false"
            android:taskAffinity=""/>

        <activity
            android:name=".running.view.RunningTimerActivity"
            android:exported="false"
            android:taskAffinity="" />

        <activity
            android:name=".running.view.RunningResultActivity"
            android:exported="false"
            android:taskAffinity="" />

        <activity
            android:name=".settings.view.SettingsActivity"
            android:exported="false"
            android:taskAffinity="" />

        <activity
            android:name=".settings.view.SettingsTimerCountTypeActivity"
            android:exported="false"
            android:taskAffinity="" />

        <activity
            android:name=".settings.view.SettingsTimerSetterActivity"
            android:exported="false"
            android:taskAffinity="" />

        <service android:name=".running.service.IncreasingTimerService" />
        <service android:name=".running.service.DecreasingTimerService" />
        <service android:name=".running.service.TotalTimerService" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

    </application>

</manifest>